---
Checks: 'bugprone-*,clang-*,hicpp-*,misc-*,modernize-*,performance-*,readability-*,-hicpp-avoid-c-arrays,-hicpp-no-array-decay,-hicpp-no-malloc,-hicpp-signed-bitwise,-hicpp-use-override,-misc-non-private-member-variables-in-classes,-modernize-avoid-c-arrays,-readability-else-after-return,-readability-magic-numbers'
HeaderFilterRegex: 'src/*'
CheckOptions:
  - key:             hicpp-special-member-functions.AllowMissingMoveFunctions
    value:           '1'
  - key:             hicpp-special-member-functions.AllowSoleDefaultDtor
    value:           '1'
...
