# https://clang.llvm.org/extra/clang-tidy/
# https://clang.llvm.org/extra/clang-tidy/checks/list.html

# Note: The big block of -rule,+other-rule are aliases
# Note: `readability-redundant-declaration` is buggy and raises in libc system headers
Checks: >
  bugprone-*,
  clang-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,

  -cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -google-build-using-namespace,
  -google-global-names-in-headers,
  -google-readability-todo,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -portability-avoid-pragma-once,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,

  -readability-redundant-declaration,

  -cppcoreguidelines-avoid-c-arrays, +modernize-avoid-c-arrays,
  -cppcoreguidelines-c-copy-assignment-signature, +misc-unconventional-assign-operator,
  -cppcoreguidelines-explicit-virtual-functions, +modernize-use-override,
  -cppcoreguidelines-macro-to-enum, +modernize-macro-to-enum,
  -cppcoreguidelines-narrowing-conversions, +bugprone-narrowing-conversions,
  -cppcoreguidelines-noexcept-destructor, +performance-noexcept-destructor,
  -cppcoreguidelines-noexcept-move-operations, +performance-noexcept-move-constructor,
  -cppcoreguidelines-noexcept-swap, +performance-noexcept-swap,
  -cppcoreguidelines-non-private-member-variables-in-classes, +misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-use-default-member-init, +modernize-use-default-member-init,
  -hicpp-avoid-c-arrays, +modernize-avoid-c-arrays,
  -hicpp-avoid-goto, +cppcoreguidelines-avoid-goto,
  -hicpp-braces-around-statements, +readability-braces-around-statements,
  -hicpp-deprecated-headers, +modernize-deprecated-headers,
  -hicpp-explicit-conversions, +google-explicit-constructor,
  -hicpp-function-size, +readability-function-size,
  -hicpp-invalid-access-moved, +bugprone-use-after-move,
  -hicpp-member-init, +cppcoreguidelines-pro-type-member-init,
  -hicpp-move-const-arg, +performance-move-const-arg,
  -hicpp-named-parameter, +readability-named-parameter,
  -hicpp-new-delete-operators, +misc-new-delete-overloads,
  -hicpp-no-array-decay, +cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -hicpp-no-malloc, +cppcoreguidelines-no-malloc,
  -hicpp-noexcept-move, +performance-noexcept-move-constructor,
  -hicpp-special-member-functions, +cppcoreguidelines-special-member-functions,
  -hicpp-static-assert, +misc-static-assert,
  -hicpp-undelegated-constructor, +bugprone-undelegated-constructor,
  -hicpp-uppercase-literal-suffix, +readability-uppercase-literal-suffix,
  -hicpp-use-auto, +modernize-use-auto,
  -hicpp-use-emplace, +modernize-use-emplace,
  -hicpp-use-equals-default, +modernize-use-equals-default,
  -hicpp-use-equals-delete, +modernize-use-equals-delete,
  -hicpp-use-noexcept, +modernize-use-noexcept,
  -hicpp-use-nullptr, +modernize-use-nullptr,
  -hicpp-use-override, +modernize-use-override,
  -hicpp-vararg, +cppcoreguidelines-pro-type-vararg,

HeaderFilterRegex: 'packages/*'
CheckOptions:
  bugprone-unused-return-value.AllowCastToVoid: true
  cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: true
  cppcoreguidelines-special-member-functions.AllowImplicitlyDeletedCopyOrMove: true
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted: true
  hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: true
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  modernize-use-trailing-return-type.TransformLambdas: all_except_auto
  performance-unnecessary-value-param.AllowedTypes: 'std::stop_token'
  readability-braces-around-statements.ShortStatementLines: 1
  readability-identifier-length.MinimumParameterNameLength: 2
  readability-identifier-length.MinimumVariableNameLength: 2
