settings set frame-format frame #${frame.index}: ${frame.pc}{ ${module.file.basename}{\`${function.name}}}{ at ${line.file.fullpath}:${line.number}}\n
settings set symbols.enable-lldb-index-cache true
settings set symbols.load-on-demand true
