sudo: false

language: node_js
os: linux

jobs:
  - node_js: "10"
  - node_js: "12"
  - node_js: "14.0.0"
  - node_js: "14"
  - node_js: "16.0.0"
  - node_js: "16"
  - node_js: "16"
    os: windows

cache:
  npm: false

dist: focal

before_install:
- |-
    case $TRAVIS_OS_NAME in
      windows)
        choco install -y python3
        ;;
    esac

install:
  - npm install

script:
  - npm run test

notifications:
  email: false
