sudo: false

language: node_js

node_js:
  - "8"
  - "10"

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - npm run test

env:
  - CXX=g++-5 CC=gcc-5

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5

notifications:
  email: false
