# Note: Terminate existing docker containers before building otherwise the build is slow.
# export LLVM_VERSION=21 NODE_VERSION=24.11.1 V8_TARGET=arm64.debug V8_VERSION=14.2.231.21
# docker compose --progress=plain build --pull depot_tools v8_sources v8 node_sources node
# docker compose --progress=plain build development

# Set your gc keep storage in docker engine higher than the default or it will rebuild all the time:
# { "builder": { "gc": { "defaultKeepStorage": "50GB", "enabled": true } } }

# Tips:
# https://containers.dev/implementors/spec/#devcontainerjson
# https://ddanilov.me/dockerized-cpp-build-with-vscode

services:
  depot_tools:
    image: isolated-vm/depot_tools
    build:
      additional_contexts:
        - debian=docker-image://debian:experimental
      dockerfile: Dockerfile.v8
      target: depot_tools

  v8:
    image: isolated-vm/v8:${V8_TARGET}-${V8_VERSION}
    build:
      additional_contexts:
        - patches=../patches
        - scripts=../scripts
        - debian=docker-image://debian:experimental
      args:
        REF: ${V8_VERSION}
        TARGET: ${V8_TARGET}
        LLVM_VERSION: ${LLVM_VERSION}
      dockerfile: Dockerfile.v8

  v8_sources:
    image: isolated-vm/v8_sources:${V8_VERSION}
    build:
      args:
        REF: ${V8_VERSION}
      dockerfile: Dockerfile.v8
      target: sources

  node:
    image: isolated-vm/node:${NODE_VERSION}
    build:
      args:
        REF: v${NODE_VERSION}
      additional_contexts:
        - debian=docker-image://debian:experimental
        - scripts=../scripts
      dockerfile: Dockerfile.node

  node_sources:
    image: isolated-vm/node_sources:${NODE_VERSION}
    build:
      args:
        REF: v${NODE_VERSION}
      dockerfile: Dockerfile.node
      target: sources

  development:
    image: isolated-vm/development
    build:
      additional_contexts:
        - debian=docker-image://debian:experimental
        - isolated-vm/depot_tools=docker-image://isolated-vm/depot_tools
        - isolated-vm/node_sources=docker-image://isolated-vm/node_sources:${NODE_VERSION}
        - isolated-vm/node=docker-image://isolated-vm/node:${NODE_VERSION}
        - isolated-vm/v8_sources=docker-image://isolated-vm/v8_sources:${V8_VERSION}
        - isolated-vm/v8=docker-image://isolated-vm/v8:${V8_TARGET}-${V8_VERSION}
      args:
        LLVM_VERSION: ${LLVM_VERSION}
      dockerfile: Dockerfile.development

  v8_alpine:
    image: isolated-vm/v8_alpine:${V8_TARGET}-${V8_VERSION}
    build:
      additional_contexts:
        - patches=../patches
        - scripts=../scripts
      args:
        REF: ${V8_VERSION}
        TARGET: linux-musl.${V8_TARGET}
      dockerfile: Dockerfile.v8
      target: v8_alpine
