name: Build & Test

on: [push, pull_request]

jobs:
  build-and-test:
    name: ${{ matrix.os }} / Node ${{ matrix.node }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        node: [ 18, 20, 22 ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Add msbuild to PATH
        if: matrix.os == 'windows-latest'
        uses: microsoft/setup-msbuild@v1.3
      - name: Install node-gyp
        if: matrix.os == 'windows-latest'
        run: |
          npm install --global node-gyp@latest
      - name: Build
        run: |
          npm install --build-from-source
      - name: Test
        uses: nick-fields/retry@v2
        with:
          max_attempts: 3
          retry_on: error
          timeout_minutes: 6
          command: |
            npm test

  build-and-test-alpine:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 18, 20, 22 ]
      fail-fast: false
    container: node:${{ matrix.node }}-alpine
    steps:
      - uses: actions/checkout@v4
      - name: install build deps
        run: |
          apk add g++ make python3
      - name: Build
        run: |
          npm install --build-from-source
      - name: Test
        run: |
          npm test
        timeout-minutes: 4
