name: Add native binaries to release

on:
  push:
    tags: ['*']
  workflow_dispatch:

jobs:
  prebuild:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [ 18.x, 20.x, 22.x ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: Add msbuild to PATH
        if: matrix.os == 'windows-latest'
        uses: microsoft/setup-msbuild@v1.3
      - name: Install node-gyp
        if: matrix.os == 'windows-latest'
        run: |
          npm install --global node-gyp@latest
      - name: Build
        run: |
          npm install --ignore-scripts
      - name: Prebuild
        run: |
          npm run prebuild
      - name: Upload
        run: |
          npx prebuild --upload ${{ secrets.UPLOAD_TOKEN }}
        env:
          MAKEFLAGS: -j4

  prebuild-alpine:
    runs-on: ubuntu-latest
    container: node:18-alpine3.19
    steps:
      - uses: actions/checkout@v4
      - name: install build deps
        run: |
          apk add g++ make python3
      - name: Build
        run: |
          npm install --ignore-scripts
      - name: Prebuild
        run: |
          npm run prebuild
      - name: Upload
        run: |
          npx prebuild --upload ${{ secrets.UPLOAD_TOKEN }}
        env:
          MAKEFLAGS: -j4
